body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

#questionCard {
    margin: 20px auto;
    width: 380px;
    text-align: left;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
}

#questionCard span {
    font-size: 30px;
}

#questionCard #questionSpan{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

#answerMeaning {
    font-size: 22px !important;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
button{
 border: none;
}

#mainButton {
    font-size: 28px;
    font-weight: bold;
    background-color: #00D1D1;
    margin: 1px;
    width: 228px;
}

#askAgainButton {
    font-size: 28px;
    font-weight: bold;
    width: 180px;
    background-color: #FCAE1E;
    margin: 1px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#mainButton:disabled, #askAgainButton:disabled,
#mainButton[disabled], #askAgainButton[disabled]{
    background-color: #cccccc;
    color: #666666;
}

.checkbox_label {
    font-size: 16px;
}

.optionButtons button {
    font-size: 14px;
    padding: 3px 10px;
    margin-top: 15px;
    margin-left: 1px;
    margin-right: 1px;
}

#searchCard {
    margin: 20px auto;
    width: 300px;
    text-align: left;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
}

#searchCard span {
    font-size: 30px;
}

#searchResult {
    display: none;
}

input[type="text"] {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
}

#searchButton {
    font-weight: bold;
    font-size: 19px;
    background-color: aquamarine;
}